.main_hero {
  margin-left: 80px;
  width: 40%;
  margin-top: 85px;
}

.main_content h3 {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  color: grey;
  margin-left: 40px;
}
.dashboard {
  display: flex;
}
.folder_boxes {
  margin-top: 10px;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  width: 60%;
}
.bx1 {
  background-color: rgb(234, 228, 228);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 120px;
  border-radius: 10px;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  color: grey;
  cursor: pointer;
}
.bx1:hover {
  box-shadow: 5px 5px 5px 5px rgba(136, 131, 131, 0.3);
}
.bx2 {
  background-color: rgb(234, 228, 228);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 120px;
  border-radius: 10px;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  color: grey;
}
.bx2:hover {
  box-shadow: 5px 5px 5px 5px rgba(136, 131, 131, 0.3);
}
.bx1 img {
  width: 60px;
  height: 60px;
}
.bx2 img {
  width: 60px;
  height: 60px;
}
/* for main_content/projects */
.main_content_2 h3 {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  color: grey;
  margin-left: 40px;
  margin-top: 70px;
}
.folder_boxes_2 {
  margin-top: 10px;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  width: 90%;
}
.bx1_2 {
  /* border: 2px solid red; */
  background-color: rgb(234, 228, 228);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 220px;
  border-radius: 10px;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  color: grey;
  cursor: pointer;
}
.bx1_2:hover {
  box-shadow: 5px 5px 5px 5px rgba(136, 131, 131, 0.3);
}
.bx2_2 {
  background-color: rgb(234, 228, 228);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 220px;
  border-radius: 10px;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  color: grey;
}
.bx2_2:hover {
  box-shadow: 5px 5px 5px 5px rgba(136, 131, 131, 0.3);
}
.bx1_2 img {
  /* border: 2px solid red; */
  width: 60px;
  height: 60px;
}
.bx2_2 img {
  /* border: 2px solid red; */
  width: 60px;
  height: 60px;
}
.twoboxes_flex {
  /* border: 2px solid red; */
  height: 70%;
  position: relative;
}
/* second portion of project   */

.second_folder_boxes_2 {
  /* border: 2px solid black; */
  margin-top: 10px;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  width: 90%;
}
.second_bx1_2 {
  /* border: 2px solid red; */
  background-color: rgb(234, 228, 228);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 220px;
  border-radius: 10px;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  color: grey;
  cursor: pointer;
}
.second_bx1_2:hover {
  box-shadow: 5px 5px 5px 5px rgba(136, 131, 131, 0.3);
}
.second_bx2_2 {
  background-color: rgb(234, 228, 228);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 220px;
  border-radius: 10px;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  color: grey;
}
.second_bx2_2:hover {
  box-shadow: 5px 5px 5px 5px rgba(136, 131, 131, 0.3);
}
.second_bx1_2 img {
  /* border: 2px solid red; */
  width: 60px;
  height: 60px;
}
.second_bx2_2 img {
  /* border: 2px solid red; */
  width: 60px;
  height: 60px;
}
.second_twoboxes_flex {
  /* border: 2px solid red; */
  height: 70%;
  position: relative;
}
